body{
    background-size: cover;
}

.heading{
    font-size: 23px;
    width:100%;
    margin: 0px; 
    position: center;
}

#status, #number_of_objects{
    font-size: 18px;

}

#start{
    font-size:18px;
}

canvas{
    border:5px solid white;
    border-radius: 10px;
    margin-top: 130px;
    box-shadow: 5px 5px 9px darkslateblue;

}

.copyright_footer{
    position:fixed;
    color: white;
    background-color: black;
    width:100%;
    bottom:0;
    line-height: 3;
    text-align: center; 
}